<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Blog</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        .centered-heading {
            text-align: center;
            margin-bottom: 20px; /* Adjust margin if needed */
        }
    </style>
</head>
<body>
    
    <h3 class="centered-heading">Enter the title of the Blog you want to Edit</h3>

    <form class="form-container" action="/Edit-Blog" method="POST">
        <input type="text" name="Title2" placeholder="Title">
        <input type="submit" value="Find My Blog">
    </form>

</body>
</html>
